/*
https://www.w3schools.com/cssref/css_selectors.php

ul {
  text-align:left;
}

#pAbout {
  text-align:left;
}
*/

/* https://www.w3schools.com/css/css_align.asp */
.text-vertical-align-center {
  margin: auto;
}
