<div class="container">
  <div class="row">
    <div class="col-sm text-center text-vertical-align-center">
      <h2>Projeto: Senac</h2>
    </div>
    <div class="col-sm text-center text-vertical-align-center">
      <h4>Gestor: Tiago Meurer</h4>
      <h4>Mentor: Raphael Costa</h4>
      <h4>Mentorado: Elton Souza</h4>
    </div>
  </div>
  <br>
  <div class="border">
    <p id="pAbout">Durante a mentoria foram abordados, de forma básica e/ou intermediária, os temas abaixo:</p>
    <ul>
      <li>Introdução à Angular, Javascript e Typescript.</li>
      <li>Instalação e configuração do Node.js, NPM e Angular CLI.</li>
      <li>Comandos básicos do Angular CLI.</li>
      <li>Entendimento da estrutura de pastas e arquivos do projeto.</li>
      <li>Criação de componentes e serviços.</li>
      <li>Comunicação entre componentes:</li>
        <ul>
          <li>Comunicação do componente pai com seus componentes filhos, através do <strong>@Input</strong>.</li>
          <li>Comunicação do componente filho com seu pai, através do <strong>@Output</strong> e <strong>Emitter (eventos)</strong>.</li>
          <li>Comunicação entre componentes de pais distintos, através de serviços.</li>
        </ul>
      <li>Introdução ao mecanismo de <em>binding</em>.</li>
      <li>Configuração de módulos.</li>
      <li>Configuração de rotas e a navegação através delas.</li>
      <li>Introdução à comunicação com APIs:</li>
        <ul>
          <li>Classe HttpClient.</li>
          <li>Classe Observable.</li>
          <li>Função map.</li>
          <li>Conceitos de DTO.</li>
          <li>Comunicação com uma API real (<a href="https://swapi.dev/">https://swapi.dev/</a>).</li>
        </ul>
      <li><strong>Extra:</strong> Pipe (transformation). Utilizado para filtrar a lista.</li>
      <li><strong><em>Não foi abordado o tema sobre estilização.</em></strong></li>
    </ul>
  </div>
</div>
