<div class="container">
  <div class="row">
    <div class="alert alert-secondary" role="alert">
      <label class="sr-only" for="filterByText">Filter by:&nbsp;</label>
      <input class="form-control" type="text" id="filterByText" [(ngModel)]="searchText">
    </div>
    <!--bootstrap (themes): https://getbootstrap.com/docs/4.1/content/tables/ -->
    <table class="table table-striped table-bordered table-hover table-sm">
      <caption>Star Wars movies count: {{ filmsCount }}</caption>
      <thead>
        <tr>
          <th>Episode</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of films | filterByText:searchText:'title'">
          <td>{{film.episode_id}}</td>
          <td (click)="setFilmDetails(film)">{{film.title}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <app-movie-details
      *ngIf="filmSelectedForDetail && showDetail"
      [film]="filmSelectedForDetail"
      (hideDetailsEvent)="turnDetailsHideByChildEvent(false)"> <!-- liga a propriedade evento @Output do filho com o método do pai -->
    </app-movie-details>
  </div>
</div>
