<div class="container">
  <h1 class="text-center">{{ title }}</h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Menu</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">Movies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- Artigo muito bom sobre paramêtros em rotas: https://vidafullstack.com.br/angular/o-que-e-route-parameters-angular/-->
  <br>
  <router-outlet></router-outlet>
</div>
